.tl-container {
    width:80%;
    display:block;
    margin-top: 100px;
    margin-left: 100px;
  }
  
  .tl-line {
    width: 100%;
    background: blue;
    margin: 50px 0;
    height: 5px;
  }
  
  .tl-top,
  .tl-bottom {
    display: flex;
    flex-direction: row;
  }
  
  .tl-bottom {
    padding-left: 50px;
  }
  
  .tl-top .tl-top-element,
  .tl-bottom .tl-bottom-element {
    padding: 0 25px;
    position: relative;
  }
  
  .tl-top-element:before,
  .tl-bottom-element:before {
    content: "I";
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #C33900;
    color: white;
    position: absolute;
    left: 0;
  }
  
  .tl-top-element:before {
    bottom: -63px;
  }
  
  .tl-bottom-element:before {
    top: -63px;
  }
  
  .tl-top-element:after,
  .tl-bottom-element:after {
    content: "";
    height: 50px;
    width: 2px;
    background: #8ACCC6;
    position: absolute;
  }
  
  .tl-top-element:after {
    left: 10px;
    bottom: -40px;
  }
  
  .tl-bottom-element:after {
    left: 10px;
    top: -40px;
  }

  math{
    font-family: "Helvetica Neue";
  }

 
  table, th, td {
  border: 1px solid black;
  }

  table {
  width:100%}