@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap');
@import url('https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css');
@import url('https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css');

.header{
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  padding: 16px;  
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 200px;
}

.header-logo {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 24px;
  font-weight: 700;
  padding-left: 200px;
}

.header-links {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  gap: 28px;
  display: flex;
}

a {
  text-decoration: none;  /* this removes the line under our links */
  color: #E5E7EB;
}

.hero {
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 100px 200px;
}


.hero-left {
  flex: 1;
}

.table{
  /* table-layout: auto; */
  max-width:100%;
  white-space:nowrap;
  border: 1px solid #000;
}
td,
tr,
th{
  border: 1px solid #000;
}

.hero-main-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 48px;
  font-weight: 700;
}

.hero-sub-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;
  font-weight: 300;
  font-style: Thin;
  padding-bottom: 8px;
  width: 425px;
}

button.hero-signup {
  margin-top: 8px;
  padding: 8px 32px;
  border-radius: 8px;
  background: #3882F6;
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  border: none;
  cursor: pointer;
}

.hero-img {
  flex: 1;
  width: 500px;
  margin-bottom: 100px;
}

.full-img {
  /* flex: 1; */
  width: 50vh;;
}

.information2 {
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
}

.information-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 36px;
  font-weight: 700;
  padding: 50px;
}

.information2-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 36px;
  font-weight: 700;
  padding: 50px;
}

.information-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  gap: 50px;
  margin-bottom: 100px;
  /* outline: 2px solid red; */
}

.information2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin-bottom: 100px; 
  /* outline: 2px solid red; */
}

.information3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* gap: 50px; */
  margin-bottom: 100px;
  /* outline: 2px solid red; */
}

.info-sub-text {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 18px;
  font-weight: 300;
  font-style: Thin;
  padding-bottom: 8px;
  width: 450px;
}

.info-main-text {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 18px;
  font-weight: 300;
  font-style: Thin;
  padding-bottom: 8px;
  width: 1000px;
}

.info2-main-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;
  font-weight: 300;
  font-style: Thin;
  padding-bottom: 8px;
  width: 1000px;
}


.info2-sub-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;
  font-weight: 300;
  font-style: Thin;
  padding-bottom: 8px;
  width: 450px;
}

.info-item {
 max-width: 165px;
}

.no-bullets, .no-bullets li {
    list-style-type:none;

}

.info-img {
  border-radius: 12px;
  border: 4px solid #3882F6;
  width: 150px;
  height: 150px;
}

.info-text {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 18px;

}

.info2-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;

}

.grid-layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.quote-container{
  margin: 75px 200px 75px 200px;
  width: 58%;
}
.quote-text {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote-author {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 24px;
  text-align: right;
}

.cta {
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
}

.cta-container {
  display: flex;
  border-radius: 12px;
  background-color: #3882F6;
  align-items: center;
  justify-content: center;
  padding: 50px 100px 50px 100px;
}

.cta-left {
  flex: 2 1;
  align-items: center;
  justify-content: center;
}

.cta-right {
  flex: 1
  align-items: center;
  justify-content: center;
}

.cta-main-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 24px;
  font-weight: 700;
}

.cta-sub-text {
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;
  font-weight: 100;
}

button.cta-signup {
  padding: 8px 32px;
  border-radius: 8px;
  border: 2px solid #F9FAF9;
  background: #3882F6;
  font-family: 'Roboto', sans-serif;
  color: #F9FAF9;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.footer {
  background-color: #1F2937;
}

.footer-link {
  text-align: center;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 30px
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #1F2937;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}